@media (min-width: 700px) {
  #heading {
    font-size: 2.3rem;
  }
  .container {
    max-width: 800px;
    padding: 1.3rem 5rem;
  }

  #search-bar {
    height: 60px;
  }

  #search-bar input {
    padding: 0rem 1rem;
    font-size: 1.5rem;
  }

  #search-bar #search-icon {
    width: 20%;
  }

  #search-bar #search-icon .fa-search {
    font-size: 1.5rem;
  }

  #search-result #search-word {
    font-size: 3.2rem;
  }
  #search-result > div {
    font-size: 1.8rem;
    margin-right: 10px;
  }

  #search-result #word-def {
    font-size: 1.8rem;
  }
}

/* @media (min-width: 1024px) {
  #heading {
    font-size: 3.5rem;
  }
  .container {
    max-width: 900px;
    padding: 1.3rem 5rem 0.3rem 5rem;
  }

  #search-bar {
    height: 70px;
  }

  #search-bar input {
    padding: 0rem 1rem;
    font-size: 1.6rem;
  }

  #search-bar #search-icon {
    width: 10%;
  }

  #search-bar #search-icon .fa-search {
    font-size: 2rem;
  }

  #search-result #search-word {
    font-size: 4rem;
  }
  #search-result > div {
    font-size: 2.5rem;
    margin-right: 20px;
  }

  #search-result #word-def {
    font-size: 2rem;
  }

  #picture-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  #picture-container > div {
    height: 250px;
  }
} */
