@media (min-width: 700px) {
  #heading {
    font-size: 2.3rem;
  }
  .container {
    max-width: 800px;
    padding: 1.3rem 5rem;
  }

  #search-bar {
    height: 60px;
  }

  #search-bar input {
    padding: 0rem 1rem;
    font-size: 1.5rem;
  }

  #search-bar #search-icon {
    width: 20%;
  }

  #search-bar #search-icon .fa-search {
    font-size: 1.5rem;
  }

  #search-result #search-word {
    font-size: 3.2rem;
  }
  #search-result > div {
    font-size: 1.8rem;
    margin-right: 10px;
  }

  #search-result #word-def {
    font-size: 1.8rem;
  }
}
