/* Variables */
:root {
  --background-color: #f4e9e9;
  --pink-color: #f5c3c3;
  --dark-color: #000;
  --gray-color: #e2dcdc;
  --navyBlue-color: #121073;
  --max-width: 50vw;
}

/* Default Settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  font-family: "Roboto", sans-serif;
}

hr {
  border: 1px solid var(--gray-color);
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.5rem;
}

img {
  width: 100%;
}

/* Utilities */
.py-2 {
  padding: 2rem 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.container {
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

/* Search Bar */
#heading {
  font-size: 1.5rem;
}

#search-bar {
  position: relative;
  width: 100%;
  height: 40px;
  margin: auto;
}

#search-bar input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
  border-radius: 50px;
  border: 1px solid var(--pink-color);
  outline: none;
  background: var(--background-color);
}

#search-bar #search-icon {
  position: absolute;
  top: 0;
  right: 0px;
  width: 15%;
  height: 100%;
  padding: 0.55rem 1rem;
  border-radius: 50px;
  background: var(--pink-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-bar #search-icon .fa-search {
  color: var(--navyBlue-color);
  font-size: 1.1rem;
  cursor: pointer;
  z-index: 1;
  transition: opacity 500ms;
}

#search-bar #search-icon .fa-search:hover {
  opacity: 0.7;
}

/* Search Result */
#search-result {
  margin-top: 15px;
}

#search-result #search-word {
  font-weight: 100;
  font-size: 2.1rem;
}

#search-result > div {
  font-size: 1.5rem;
}

#search-result > div .fa-volume-up,
#search-result > div .fa-book {
  color: var(--navyBlue-color);
  transition: opacity 500ms;
}

#search-result > div .fa-volume-up:hover,
#search-result > div .fa-book:hover {
  opacity: 0.7;
}

#search-result #search-word,
#search-result > div {
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 0.5rem;
}

#search-result #word-def {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

/* Picture Grid */
#picture-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

#picture-container > div {
  height: 200px;
}

#picture-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.heart {
  display: inline-block;
  background: #e1e8ed;
  width: 20px;
  height: 20px;
  position: relative;
  transform: rotate(45deg);
}

.heart::before {
  background: inherit;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: -50%;
  content: "";
  border-radius: 50%;
}

.heart::after {
  background: inherit;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -50%;
  left: 0;
  content: "";
  border-radius: 50%;
}

.picture {
  position: relative;
}

.heart-box {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.heart:active {
  background: #d21c38;
}

.save {
  background: #d21c38;
}

/* Menu Container */
.menu-container {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 2;
}

.toggler {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 60px;
  height: 60px;
  /* border-radius: 50%; */
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger > div {
  position: absolute;
  width: 60%;
  height: 3px;
  border-radius: 1.5px;
  background: var(--pink-color);
  transition: 0.4s;
  z-index: 2;
}

.hamburger > div::before,
.hamburger > div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background: var(--pink-color);
  transition: 0.4s;
}

.hamburger > div::before {
  top: -10px;
}

.hamburger > div::after {
  top: 10px;
}

.toggler:checked + .hamburger > div {
  transform: rotate(-135deg);
}

.toggler:checked:hover + .hamburger > div {
  transform: rotate(-225deg);
}

.toggler:checked + .hamburger > div::before,
.toggler:checked + .hamburger > div::after {
  transform: rotate(-90deg);
  top: 0;
}

.toggler:checked ~ .menu {
  visibility: visible;
}

.toggler:checked ~ .menu > div {
  transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu > div > div {
  opacity: 1;
}

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  transition: 0.6s;
}

.menu > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translateX(150%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > div > div {
  max-width: 90vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
}

.menu > div > div > ul > li {
  list-style: none;
}

.menu > div > div > ul > li > a {
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 550;
  margin: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;
}

.menu > div > div > ul > li > a:hover {
  color: var(--pink-color);
  transform: scale(1.2);
}
